.todo {
  &__header {
    display: flex;

    &-item {
      flex: auto;
    }
  }
  &__mark-done {
    text-align: right;
  }
  &__header-item {
    &.done {
      text-decoration: line-through;
    }
  }
}
